-s /project/projectdirs/des/djbrout/pysmp/imglist/all/des_fake_00240455.dat
-r /global/cscratch1/sd/dbrout/images_v10/
-f g
--nozpt
--nomask
-p default.param
-o /global/cscratch1/sd/dbrout/mcmc_npz_version4.1_Y4A1/
--snfilepath=/global/project/projectdirs/des/djbrout/pysmp/imglist/imglist_March2019/ImgLists/real/
--snfilelist=/global/project/projectdirs/des/djbrout/pysmp/imglist/imglist_March2019/ImgLists/all_ccd_list.txt
--savenpzfilesdir=/global/cscratch1/sd/dbrout/mcmc_npz_version4.1_Y4A1/mcmc_npz/
--stardumppsf
--dosextractor
--useweights
--zptoutpath=/global/cscratch1/sd/dbrout/mcmc_npz_version4.1_Y4A1/zptfiles/
--bigstarcatalog=catalogs/eli_catalog_nov7_2017.txt
--bigstarposdir=/global/cscratch1/sd/dbrout/starcatalogs_djb/
--mjdplus=300
--mjdminus=60
--makestarcatalog