-s /project/projectdirs/des/djbrout/pysmp/imglist/all/des_real_01303535.dat 
-r /scratch3/scratchdirs/masao/diffim/output/FPH_V9/
-f z
--nomask
-p default.param
-o /project/projectdirs/dessn/dbrout/test_uncoadd_shallowz/
--snfilepath=/global/project/projectdirs/dessn/diffim/SMP/imgList/fake/
--snfilelist=/global/project/projectdirs/dessn/diffim/SMP/imgList/lists_of_ids/list_for_comparing_with_coadd_in_E1.txt
--savenpzfilesdir=/scratch1/scratchdirs/dbrout/test_uncoadd_shallowz/
--stardumppsf
--dosextractor
--useweights
--zptoutpath=/scratch1/scratchdirs/dbrout/zptfiles/v4/
--bigstarcatalog=/global/project/projectdirs/dessn/diffim/SMP/catalogs/des/eli_catalog_nov7_2017.txt 
