-s /project/projectdirs/des/djbrout/pysmp/imglist/all/des_fake_00280374.dat
-r /global/cscratch1/sd/masao/diffim/output/FPH_V8/
-f z
--nomask
-p default.param
-o /project/projectdirs/dessn/dbrout/simtestout/
--snfilepath=/project/projectdirs/des/djbrout/pysmp/imglist/all/
--snfilelist=data/allspec.txt
--savenpzfilesdir=/global/cscratch1/sd/dbrout/specnpzfilesv3/
--stardumppsf
--dosextractor
--useweights
--zptoutpath=/project/projectdirs/dessn/dbrout/zptfilesv3/

