-s /global/cscratch1/sd/dbrout/DESY1_imgList_fake/des_fake_00212625.dat
--nomask
--nozpt
--usefake
--gal_model=/global/cscratch1/sd/dbrout/
-r /global/cscratch1/sd/dbrout/v3
-f z
-p /global/u1/d/dbrout/projects/pysmp/defaults/default.param
-o /global/cscratch1/sd/dbrout/v3
--snfilepath=/pnfs/des/scratch/pysmp/DESY1_imgList_fake/
--bigstarcatalog=/data/des41.a/data/djbrout/pysmp/catalogs/des/DES-SN_v2.cat
--stardeltasfolder=smp_y1y2_shallow_v3_65
--SNfoldername=smp_y1y2_shallow_v3_65nongalsim
--galaxyfoldername=smp_y1y2_shallow_v3_65
--snfilelist=/home/dscolnic/testdir/pysmp/data/snfiles_ps.txt